<div class="card" style="width: 20rem;">
  {% if instance.image %}
    <a href="{{ instance.get_absolute_url }}"><img class="card-img-top" src="{{ instance.image.url }}" alt="{{ instance.title}} logo"></a>
    {% endif %}
  <div class="card-body">
    <h4 class="card-title">{{ instance.title }}</h4>
    <p class="card-text">{{ instance.description|linebreaks|truncatewords:14 }}</p>
    
    <div class='text-center'>
        <a href="{{ instance.get_absolute_url }}" class="btn btn-primary my-2">View</a>
        {% include 'products/snippets/update-cart.html' with product=instance cart=cart %}
    </div>

<a target="_blank" href="https://www.amazon.in/shops/ANDHPLYC9799R?ref=sf_seller_app_share_new&_encoding=UTF8&tag=andhplyc9799-21&linkCode=ur2&linkId=83bd7dad17f5d470a21ac99f46c121c3&camp=3638&creative=24630">Also Buy On Amazon</a><img src="//ir-in.amazon-adsystem.com/e/ir?t=andhplyc9799-21&l=ur2&o=31" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
   <!--  <a href="{% url 'products:detail' slug=instance.slug  %}" class="btn btn-warning">URL shortcut</a> -->
  </div>
</div>